@font-face {
	font-family: 'MyriadPro-Bold';
    src: url('./fonts/MyriadPro-Bold.woff') format('woff'),
         url('./fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Semibold';
    src: url('./fonts/MyriadPro-Semibold.woff') format('woff'),
         url('./fonts/MyriadPro-Semibold.svg') format('svg');
	font-weight: 600;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 87px;
    height: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
    min-height: 100vh;
}

.fab {
    font-size: 15px;
}

.fa-github {
    color: #000;
}

.fa-instagram {
    color: #d6249f;
}

.fa-vk {
    color: #4c75a3;
}

.vcard {
    position: relative;
    width: 315px;
    font-family: 'MyriadPro-Semibold', Tahoma, sans-serif;
    font-size: 11px;
    background-color: #ebebeb;
    border-radius: 5px;
    border: 1px solid #878787;
}

.social-icons {
    position: absolute;
    left: -28px;
    top: 15px;
    display: flex;
    flex-direction: column;
}

.social-icons__item {
    background-color: #e9e9e9;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #a4a4a4;
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.vcard__info {
    padding: 10px 10px 25px;
    display: flex;
}

.vcard__info-photo {
    margin-right: 15px;
    min-width: 87px;
}

.vcard__user {
    border: 1px solid #727e87;
    background-color: #d2d2d2;
    border-radius: 5px;
    box-shadow: 0 8px 10px -5px #000;
}

.vcard__title {
    font-size: 18px;
    font-family: 'MyriadPro-Bold', Tahoma, sans-serif;
    color: #43647b;
    border-bottom: 3px dotted #d9d9d9;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.vcard__description {
    color: #6e6e6e;
    opacity: 0.87;
    line-height: 1.6;
}

.vcard__description a {
    color: #606d77;
    text-decoration: none;
}

.vcard__description a:hover {
    text-decoration: underline;
}

.menu {
    background-color: #507997;
    box-shadow: 0px 15px 25px -15px #000;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px -2px #fff, 0 -5px #43647b;
}

.nav {
    display: flex;
    justify-content: flex-start;
    font-family: 'MyriadPro-Semibold', Tahoma, sans-serif;
    font-size: 13px;
}

.nav__link {
    padding: 15px 15px;
    text-decoration: none;
    color: #e9e9e9;
    transition: background-color .1s linear;
}

.nav__link_active,
.nav__link:hover {
    background-color: #738fa4;
}

.contact-page {
    display: none;
}
